@charset "gb2312";
*{padding:0;margin:0;font-size:13px;color:#666;border:0;font-family:Verdana, Geneva, sans-serif;text-decoration:none; font-family:"微软雅黑";}
#kuanjia{width:100%; height:50px;margin:0 auto; background:#b90404;}
.top{width:1210px; height:50px; margin:0 auto;}
#kuanjia2{width:100%; height:115px;margin:0 auto;}
.log{width:1210px; height:75px; padding:20px 0; margin:0 auto;}
.log_left{ float:left; width:380px; height:75px;}
.log_right{ float:right; width:730px; height:65px; padding-top:10px; padding-left:100px;}
.log_right form{ float:left; height:65px; line-height:35px;}
.log_right form a{ color:#060;}
#search,.search{ border:1px solid #d70000; float:left; height:29px; line-height:29px; width:300px; background:#f5f1f1;}
.search-submit{ float:left; height:31px; width:134px;}
#kuanjia3{width:100%;margin:0 auto; height:auto;}
.meun{width:100%;margin:0 auto; height:35px; background:url("IMG/meun_bg.jpg")/*tpa=http://www.shentaow.cn/images/meun_bg.jpg*/ repeat-x; padding:2px 0;}
.meun_li{width:1245px;; margin:0 auto;height:35px; }
.meun_li a{ font-weight:bold;height:35px; line-height:35px; font-size:15px;}
.meum_on{ background:#FFF; color:#b90404;padding:0 20px; }
.meum_off{line-height:35px;padding:0 20px; color:#FFF;}
.inner{ width:1210px; margin:0 auto; height:248px;border:1px #000 solid; border-top:none; overflow:hidden;}
.bianhua{ float:left; width:470px; height:250px; overflow:hidden;}
#slideBox{width:470px;float:left;overflow:hidden;height:250px;}
.J_slide_item img{width:470px;height:216px;border:0;}
.J_slide_clip{width:470px;height:250px;float:left;}
#slideBox .J_slide_list{ width:470px;list-style-type:none;margin:0;padding:0;float:left;font-size:12px;line-height:20px;color:#000;}
#slideBox .J_slide_list .J_slide_item{width:470px; height:216px; float:left;}
#slideBox .J_slide_list .J_slide_item img{vertical-align:top;}
#slideBox .J_slide_trigger{width:470px;height:32px; background:#000; margin:0;margin-top:1px;padding:0;font-size:12px;line-height:20px;color:#000;float:left; list-style-type:none;}
#slideBox .J_slide_trigger li,.J_slide_trigger a{width:94px;overflow:hidden;}
#slideBox .J_slide_trigger li{float:left;height:32px;line-height:32px;text-align:center;overflow:hidden;display:inline;}
#slideBox .J_slide_trigger li a{display:block;height:32px;color:#fff; }
#slideBox .J_slide_trigger li.cur a,.J_slide_trigger li a:hover{color:#FFF;background:#b90404;text-decoration:none;}
a,#nextPage span a,#nextPage span a:hover{color:#5B5B5B;text-decoration:none;}
#slideBox ul{ list-style-type:none;}
#slideBox li{color:#FFF;}
.youhui{ float:left; width:439px;height:230px; line-height:26px; padding:10px; background:#FFC; background:url("IMG/youhui.jpg")/*tpa=http://www.shentaow.cn/images/youhui.jpg*/ top right no-repeat; }
.youhui strong{ color:#000; font-size:16px;}
.tuijian{ float:left; width:258px;height:240px; line-height:26px; padding:5px 10px; background:#FFC;}
.tuijian strong{ color:#C00}
.tuijian ul{ float:left; width:258px; list-style:inside circle;}
.tuijian ul li{ border-bottom:1px dashed #F00;}
.tuijian ul li a{ color:#060}
.inner2{ width:1210px; margin:15px auto;}
.inner2_in{ width:1210px;height:auto; float:left;}
.fenlei{ width:210px; float:left; background:url("IMG/fenlei_bg.jpg")/*tpa=http://www.shentaow.cn/images/fenlei_bg.jpg*/ no-repeat top #666;}
.all{color:#FFF; font-size:16px;padding-left:10px; width:200px; font-weight:bold; height:36px; line-height:36px;}
.fenlei_a1{color:#FFF; font-size:14px; padding-left:8px; width:202px; height:41px; line-height:37px; float:left; background:url("IMG/fenlei_on.jpg")/*tpa=http://www.shentaow.cn/images/fenlei_on.jpg*/ repeat-x;}
.fenlei_a2{ color:#FFF; font-size:14px;padding-left:8px;width:202px; height:41px; line-height:37px; float:left; background:url("IMG/fenlei_li.jpg")/*tpa=http://www.shentaow.cn/images/fenlei_li.jpg*/ repeat-x;}
.fenlei_a1:hover,.fenlei_a2:hover{ background:url("IMG/fenlei_on.jpg")/*tpa=http://www.shentaow.cn/images/fenlei_on.jpg*/ repeat-x;}
.rexiao{width:210px; float:left; margin-top:25px;background:url("IMG/changxiao.jpg")/*tpa=http://www.shentaow.cn/images/changxiao.jpg*/ no-repeat top #FFC;}
.all_2{font-size:16px;padding-left:35px; width:175px; font-weight:bold; height:35px; line-height:35px; color:#C00;}
.rexiao ul{width:210px; float:left; padding:5px 0; list-style:none;}
.rexiao ul li{ float:left;width:210px; border-bottom:1px dashed #C00; padding:5px 0; height:69px; overflow:hidden;}
.rexiao ul li img{ float:left;}
.rexiao ul li p{ width:120px; float:left; line-height:23px;}
.rexiao ul li p a{ color:#060;}
.rx_jia{ color:#C00; font-weight:bold; float:left;font-size:12px;}
.rx_bian{ color:#333; font-weight:bold; float:right; font-size:12px;}
.qiqiangmiandingjin{float:left; width:210px; margin-top:12px;}
.prod_top{ float:right;width:985px; text-align:right; padding-top:5px;}
.prod_top a{ color:#060; padding-right:5px;}
.prod_top strong{color:#C00; font-weight:bold; font-size:16px;}
.prod_topall{float:left;}
.prod{ float:left; padding-left:15px; width:985px; border-top:3px solid #b90404;}
.prod_ul{ list-style:none; float:left;padding-top:10px;}
.li_off{ float:left; height:252px; width:225px; padding:5px; border:1px solid #999; border-bottom:3px solid #999; margin-right:7px; margin-bottom:10px;}
.li_on{float:left; height:252px; width:225px; padding:5px; border:1px solid #C00; border-bottom:3px solid #C00; margin-right:7px; margin-bottom:10px; background:#FFC;}
.prod_ul li p{width:225px; float:left; font-size:14px; text-align:center;}
.prod_ul li p a{ width:225px; display:block;font-size:15px; color:#060;}
.pbiaoti{ height:47px;}
.prod_ul li p a:hover{text-decoration:underline;}
.cp_jiage{ float:left; font-size:14px; color:#C00; font-weight:bold;}
.cp_bianhao{ float:right; font-size:14px; color:#333; font-weight:bold;}
.page_list{float:left;width:955px;padding:7px 15px; overflow:hidden; background:#e6e4e4; margin-bottom:7px;margin-top:7px;}
.page_list ul{float:left;list-style-type:none;height:28px;overflow:hidden;width:955px;}
.page_list li{float:left;margin-right:7px;line-height:22px;}
.page_list li a{float:left;color:#060;display:block; border:none; border:1px solid #C00;padding:0 6px;}
.page_list a:hover{color:#DF021C;padding:0 6px;font-weight:bold; float:left; background:#FF6;}
.page_list td{float:left;line-height:22px;}
.page_list td a{float:left;color:#060;display:block;border:none;width:auto;}
.page_list td a:hover{color:#DF021C;float:left;}
.thisclass{background:#F00;color:#FFF;font-weight:bold;padding:0 6px;border:1px solid #C00;}
.pageinfo{float:right;line-height:21px;padding:5px 10px 0 16px;color:#060;}
.pageinfo strong{color:#060;font-weight:normal;margin:0px 2px;}
.foot1{ width:1170px; float:left; border-top:3px solid #b90404; margin-top:15px; background:#eee; padding:20px;}
.foot_in1{ background:#FFF;width:1170px; float:left; padding-bottom:10px;}
.f1{ width:190px; float:left; border-right:1px dashed #999; padding-left:43px; padding-top:10px;}
.f1 strong{ font-size:15px; color:#000;}
.f1 a{ line-height:24px; color:#333;}
.f2{width:227px; float:left; border-right:1px dashed #999; height:102px; padding-left:6px; padding-top:28px;}
.foot2{ width:1210px; float:left; border-top:3px solid #b90404; margin-top:15px; background:#eee;}
.foot2 strong{ color:#060;}
.foot2_1{width:1190px; float:left; padding-bottom:10px; padding:10px;}
.foot2_2{width:1210px; float:left; text-align:center; color:#000;}
.foot2_2 a{ color:#000;}
.meum_off:hover{ background:#FFF; color:#b90404;}
.pre a:hover,.bianhao a:hover,.f1 a:hover,.rexiao a:hover,.prod_top a:hover,.prod a:hover,.log_right a:hover{ color:#F00;}
.tuijian a:hover{color:#F00; background:#CCC; display:block;}
.contact{float:left;width:965px;padding:10px; background:#e5fddc; margin-top:10px;}
.contact p{float:left;width:965px; line-height:26px; padding-bottom:6px; font-size:14px; color:#000;}
.contact p b{ font-size:14px; color:#C00}
.contact p strong{ font-size:14px; color:#F00}
.location{float:right;width:975px; padding-left:10px; background:#CCC; margin-top:10px; height:26px; line-height:26px; color:#000; font-size:14px;}
.location a{ color:#000; font-size:14px;}
.location strong{color:#000;}
.location a:hover{ color:#f00; text-decoration:underline;}
.arctu{width:311px; float:left;height:231px;}
.dinghuo{ float:left; width:390px; height:231px;overflow:hidden;}
.bianhao,.tite{float:left; width:380px;height:36px;overflow:hidden; line-height:36px; border-bottom:solid #ececec 1px; overflow:hidden;}
.bianhao,.bianhao a{ color:#000; font-weight:bold; font-size:15px; height:40px;}
.tuchu{ font-size:17px; color:#F00;}
.zixunkefu{ height:62px; float:left; width:255px; padding-top:5px; text-align:right;}
.phone{ width:110px; float:left;height:50px; color:#060; font-weight:bold; font-size:14px;padding-top:17px; padding-left:15px;}
.phone span{ color:#000;}
.zensong{ height:221px; overflow:hidden; float:left; width:240px; border-left:1px dashed #000; padding:10px; padding-top:0; line-height:21px;}
.zensong span{ color:#060; font-weight:bold;}
.tite a{ color:#c00; font-size:20px;}
.tite a:hover{ color:#000;}
.article{float:right;width:963px;margin-top:10px; border:1px solid #000; padding:10px; padding-bottom:0;}
.arc_in{float:left;width:903px; padding:20px 30px;margin-top:10px; border-top:1px dashed #000; background:#f2f0f0;}
.arc_in p{ text-indent:2em; width:903px; float:left; line-height:25px; padding-bottom:7px; color:#000; font-size:14px;}
.arc_in p a{ color:#000; font-size:14px;}
.arc_in p strong{ color:#F00;}
.shangxia{float:left;width:903px; padding:10px 30px; height:20px;}
.pre{ width:450px; float:left; height:20px; color:#000;}
.pre a{ color:#060;font-size:14px;}
.dianhua{width:210px; float:left; height:30px; line-height:30px; text-align:center;font-size:14px; color:#FFF; font-weight:bold;}
.pre b{color:#000;font-size:14px;}